section {
    margin: 50px;
    background-color: lightgray;
    border: 2px;
    border-color: black;
    overflow: auto;
    padding: 15px
}

img {
    float: right;
    width: 350px;
    
}

h1 {
    color: orange;
}

p{
    color: purple;
}