/* Set page width limit*/
#content { 
    max-width: 1600px;
    margin: 0 auto;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
}

#hero-img {
    width: 100%
}

.hero {
    text-align: center;
    color: #0d3b66;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
}

#hero-msg h2, h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section h2 {
    color: #0d3b66;
}

#background {
    height: 725px;
    background-color: #0d3b66;
}

body {
    background-color: #a1cdf4;
}

header {
    background-color: #0d3b66;
}

nav a:hover {
    background-color: #2a6041;
    color: #a1cdf4;
    text-decoration: underline;
}

.book, .join {
    background-color: black;
    color: #a1cdf4;
    text-decoration: none;
}

.book:hover, .join:hover {
    background-color: #0d3b66;
    color: white;
    text-decoration: underline;
}

.msg {
    background-color: #2a6041;
    color: #a1cdf4;
}

.msg h2 {
    color: #a1cdf4;
}

.msg p {
    color: white
}

footer {
    background-color: #2a6041;
    color: white;
}

#main-footer p a {
    background-color: #0d3b66;
    color: #a1cdf4;
    text-decoration: none;
}

#main-footer a:hover {
    color: white;
    text-decoration: underline;
}

#main-footer p {
    font-size: 1.2em;
}

.home-title {
    color: #0d3b66;
}

h4 {
    color: #0d3b66;
}

