body {
    background-color: pink;
}

header h1, p, h2 {
    color: white;
    text-align: center;
}

main h1, h2, h3, h4 {
    color: black;
    text-align: center;
    size: 50px;
}

#russell {
    text-align: center;
    width: 50px;
}