body {
    background-color: pink;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

header h1 {
    color: white; 
    font-size: 3em;
}

header p {
    color: white;
    font-size: 1em;
    margin: 0 auto;
    max-width: 450px;
}

header h2 {
    color: white;
    font-size: 1.1em;
}

header h1:hover {
    color: black;
}

main h2 {
    color: black;
    text-align: left;
    font-size: 1.2em;
}

#russell {
    width: 150px;
}

main p{
    color: white;
    font-size: 2em;
    padding: 15px;
    margin: 0 auto;
    max-width: 300px;
}

footer p {
    color: black;
    margin: 0 auto;
    max-width: 450px;
}
